################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TradesWebAPI/obj
/TradesWebAPIBusinessLogic/obj
/TradesWebAPIDataAccess/obj
/TradesWebAPISharedLibrary/obj
/TradesWebAPIUnitTest/obj
/TradesWebAPI/bin/Debug/net8.0
/TradesWebAPIBusinessLogic/bin/Debug/net8.0
/TradesWebAPIDataAccess/bin/Debug/net8.0
/TradesWebAPISharedLibrary/bin/Debug/net8.0
/TradesWebAPIUnitTest/bin/Debug/net8.0
